@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap');
:root{
  --primary:black;
  --secondary:rgba(255, 255, 255, 1);
  --input:rgba(41, 41, 41, 1);
}

*{
  margin:0;
  padding:0;
}

body{
  background-color: var(--primary);
}

.imp-text{
  color: rgba(114, 219, 115, 1);
}

.error{
  color: red;
  padding: 5px 0px;
}

.imp-background{
  background-color: rgba(114, 219, 115, 1);
}

.single-day {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-500 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}