.homepage{
    background-color: var(--primary);
    display: flex;
    padding: 30px;
    max-width: 1300px;
    margin: auto;
}

.homepage-profile-weather-note{
    display: flex;
}

.profile-container {
    background: rgba(87, 70, 234, 1);
    border-radius: 19px;
    display: flex;
    padding: 30px;
    margin-right: 2em;

}

.profile-img img{
    width: 110px;
    height: 250px 
}

.user-name,.user-email{
    font-size: 20px;
    line-height: 30px;
}

.user-user-name{
    font-size: 35px;
}

.profile-details{
    color: var(--secondary);
    padding-left: 30px;
}

.profile-genere-container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile-genere-chips{
    width: 120px;
    font-size: 15px;
}

/* note */

.note-container{
    background-color: rgba(241, 199, 91, 1);
    border-radius: 19px;
    margin: 0px 30px 30px 0px;
    padding: 30px;
    max-height: 30rem;
    height: 30rem;
    width: 100%;
}

.note-title{
    font-size: 38px;
}
.note-textarea{
    border: none;
    background: rgb(241, 199, 91);
    max-width: 100%;
    width: 100%;
    height: 85%;
    max-height: 100%;
    resize: none;
    word-spacing: 0.4em;
    padding: 20px 0px;
    font-size: 20px;
    color: var(--primary);
}

.note-textarea::placeholder{
    color: var(--primary);
}

textarea::-webkit-scrollbar {
    width: 12px;
   
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* timer */
.timer-container{
   background-color: rgba(30, 35, 67, 1);
   border-radius: 19px;
   padding: 20px;
   display: flex;
   width: 51rem;
}
.timer-circle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown{
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset;
    border-radius: 150px;
    padding: 18px;
    border: 1px solid black;
    /* box-shadow: -3px -7.000000476837158px 16px 0px rgba(95, 88, 88, 0.23); */
    
}

.time{
    display: flex;
}


.timer-set{
    flex: 2;
    display: grid;
    align-items: center;
    justify-content: center;
}
.set-timer{
    font-size: 40px;
}

.colon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
    padding-top: 38px;
    color: rgba(148, 148, 148, 1);
}

.hour,.minute,.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(148, 148, 148, 1);
    font-size: 27px;
    gap:20px;
    padding: 25px 26px;
}

.remaining-time{
    color: var(--secondary);
    font-weight: 600 !important;
    font-size: 40px;
}

.start{
    width: 100%;
    padding: 4px 0px;
    border-radius: 20px;
    background: rgba(255, 106, 106, 1);
    font-size: 30px;
    color: var(--secondary);
}


/* news */
.news-container{
    background-color: var(--secondary);
    height: 100%;
    border-radius: 20px;
    margin-left: 2rem;
}

.news-img{
    position: relative;
}

.news-title{
    position: absolute;
    bottom: 4px;
    font-size: 30px;
    width: 88%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 8%;
    color: var(--secondary);

}

.news-img img{
    width: 100%;
    height: 34rem;
}

.news{
    padding: 8% 10%;
    text-align: justify;
}

/* weather */

.weather-container{ 
    border-radius: 19px;
    background: rgba(16, 23, 68, 1);
    margin: 1rem 2rem 1rem 0rem;
    color: var(--secondary);
}
.weather-detail{
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    text-align: center;
}
.weather-condition{
    font-size: 18px;
}
.cur-date{
    font-size: 33px;
    border-top-left-radius: 19px;  
    border-top-right-radius: 19px;
    background-color: rgba(255, 74, 222, 1);
    text-align: center;
    padding: 15px;
    word-spacing: 20px;
}

.vertical-line {
    border-left: 2px solid var(--secondary); 
    width: .78px;
    height: 50px; 
  }
.horizontal-line{
    display: none;
}

.temp{
    font-size:44px;
}
.temp-pressure,.wind-humidity,.weather-condition{
    display: grid;
    gap: 20px;
}

.pressure,.humidity,.wind{
    display: flex;
    font-size: 14px;
    gap: 5px;
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .homepage{
        display: grid;
        justify-content: center;
    }
    .news-container{
    width: 53rem;
    margin: 20px 0px 
    }

    .news-img img{
        height: 20rem;
    }

    .news-title{
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    
    .homepage-profile-weather-note{
        display: grid;
    }

    .profile-container{
        justify-content: center;
    }
    .timer-container{
        display: grid;
        width: 90%;
    }
    .note-container{
        width: 87%;
    }
    .news-container{
        width: 96%;
    }

}

@media screen and (max-width: 550px) {
    
    .vertical-line{
        display: none;
    }

    .temp-pressure, .wind-humidity, .weather-condition{
        justify-content: center;
    }
    .weather-detail{
        display: grid;
    }

    .vertical-line{
        display: none;
    }

    .horizontal-line{
        display: block;
        border: 2px solid var(--secondary); 
        width: 90%;
    }

    .profile-container{
        width: 78vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 4px 0px;
    }

    .profile-img img {
        width: 100px;
        height: 142px;
    }

    .profile-genere-chips{
        width: 100px;
        font-size: 13px;
    }

    .profile-details{
        padding-left: 0px;
    }

    .weather-container{
        margin: 2rem 0rem 2rem 0rem;
    }

    .note-container{
        width: 85%;
    }

    .hour,.minute,.second{
        padding: 25px 5px;
        font-size: 20px;
        gap: 14px;
    }

    .set-timer{
        font-size: 25px;
    }

    .colon{
        font-size: 38px;
    }


}


