.movie-container{
    display: flex;
    background-color: var(--primary);
}

.movie-container-left{
    flex: 1;
    color: var(--secondary);
    padding: 7% 5%;
}

.movie-container-right{
    flex: 1;
    padding: 4% 5%;
}

.genere-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.single-genere-container{
    height: 170px;
    width: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    gap: 10px;
}

.genere-chip-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.genere-name{
    font-size:20px;
    padding:5px;
}
.genere-img{
    width:170px;
    height:118px;
}

.genere-chips{
    width: 190px;
    height: 40px;
    border-radius: 31px;
    background-color: rgba(20, 138, 8, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.entertainment{
    font-size: 55px;
    padding: 20px 0%;
}

.action{
    display: flex;
    align-items: end;
    padding: 20px 0 0 0;
    gap: 10px;
    color:rgba(255, 0, 0, 1);
}

.remove-chips{
    color: rgba(8, 92, 0, 1);
    cursor: pointer;
    font-size:20px ;
}

.next{
    width: 165px;
    height: 42px ;
    border-radius: 38px;
    background-color: rgba(20, 138, 8, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color: white;
    margin: 30px 15px 0px 0px;
    float: right
}


@media screen and (max-width: 1300px) {
    .genere-chip-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .genere-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .movie-container{
        flex-direction: column;
        background-color: var(--primary);
    }
}

@media screen and (max-width: 900px) {
    .genere-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .movie-container{
      padding: 0px 20px;
    }
    .genere-container{
        grid-template-columns: 1fr;
        gap:50px;
    }
    .genere-chip-container{
        grid-template-columns: 1fr 1fr;
    }

    .single-genere-container{
        height: 90%;
        width: 90%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        gap: 30px;
    }
    .genere-img{
        width:100%;
        height:100%;
    }

    .genere-name{
        font-size: 36px;
        padding:0 0 0 5px;
    }

    .entertainment{
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .genere-chip-container{
        grid-template-columns: 1fr;
    }
}